<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- <property name="current_session_context_class">thread</property> -->
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
			<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sakila</property> 
			<property name="hibernate.connection.username">root</property> <property 
			name="connection.password">111111</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.search.autoregister_listeners">false</property>
		<!-- hibernate3缓存机制 -->
		<!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->
		<!-- 配置二级缓存 -->
		<!-- <property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
		<!-- 开启查询缓存 -->
		<!-- <property name="hibernate.cache.use_query_cache">true</property>

		 <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property> --> 
		<property name="show_sql">false</property>
		<mapping resource="com/hand/model/Address.hbm.xml" />
		<mapping resource="com/hand/model/Contactors.hbm.xml" />
		<mapping resource="com/hand/model/CustomersInfo.hbm.xml" />
		<mapping resource="com/hand/model/DiscountAppliedRecords.hbm.xml" />
		<mapping resource="com/hand/model/NormalDiscount.hbm.xml" />
		<mapping resource="com/hand/model/Organization.hbm.xml" />
		<mapping resource="com/hand/model/Payment.hbm.xml" />
		<mapping resource="com/hand/model/PriceList.hbm.xml" />
		<mapping resource="com/hand/model/PriceListConfig.hbm.xml" />
		<mapping resource="com/hand/model/SpecialDiscount.hbm.xml" />
	</session-factory>
</hibernate-configuration>